.nav-bar {
  width: 100%;
  height: 70px;
  background: rgba(0,0,0,0.75);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: 2px solid #4e2d16;
}

.nav-left .logo {
  font-family: "Playfair Display", serif;
  font-size: 26px;
  font-weight: 700;
  color: #ffd39c;
  text-decoration: none;
}

.nav-mid a {
  margin: 0 14px;
  font-family: "Kanit", sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  transition: .25s;
}

.nav-mid a:hover {
  color: #ffb162;
  text-shadow: 0 0 10px #ffb162;
}

.logout-btn {
  padding: 8px 20px;
  border: none;
  background: #e55b5b;
  color: #fff;
  font-family: "Kanit";
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s;
}

.logout-btn:hover {
  background: #ff8e8e;
  transform: scale(1.1);
}
